<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Title -->
    <title>{% block title %} {% endblock title %}</title>
    {% block headpart %} {% endblock headpart %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel=" stylesheet" href="{% static 'css/slick.css' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <!-- Boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
    />
  </head>

  <body>
    <div class="site-wrapper">
      <div class="main-overlay"></div>
      <!-- header section -->
      {% include "base_content/header.html" %}

      <!-- Block Content -->
      {% block content %} {% endblock content %}

      <!-- Side Popup -->
      {% include "base_content/side-popup.html" %}

      <br />
      <br />
      <br />
      <br />

      <!-- footer -->
      {% include "base_content/footer2.html" %}

      <!-- javascripts  -->
      {% include "base_content/scripts.html" %}
    </div>
  </body>
</html>
