{% load static %}



<div class="instagram">
    <div class="container-xl">
        <a href="#" class="btn btn-default btn-instagram">@TC Blogs on Instagram</a>
        <div class="instagram-feed d-flex flex-wrap">
            <div class="insta-item col-sm-2 col-6 col-md-2">
                <a href="#">
                    <img src="{% static 'images/insta/insta-1.jpg' %}" alt="">
                </a>
            </div>
            <div class="insta-item col-sm-2 col-6 col-md-2">
                <a href="#">
                    <img src="{% static 'images/insta/insta-2.jpg' %}" alt="">
                </a>
            </div>
            <div class="insta-item col-sm-2 col-6 col-md-2">
                <a href="#">
                    <img src="{% static 'images/insta/insta-3.jpg' %}" alt="">
                </a>
            </div>
            <div class="insta-item col-sm-2 col-6 col-md-2">
                <a href="#">
                    <img src="{% static 'images/insta/insta-4.jpg' %}" alt="">
                </a>
            </div>
            <div class="insta-item col-sm-2 col-6 col-md-2">
                <a href="#">
                    <img src="{% static 'images/insta/insta-5.jpg' %}" alt="">
                </a>
            </div>
            <div class="insta-item col-sm-2 col-6 col-md-2">
                <a href="#">
                    <img src="{% static 'images/insta/insta-6.jpg' %}" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
