{% extends "base_content/base.html" %} {% load static %}

<!-- Title -->
{% block title %} Home {% endblock title %}

<!-- Head Content -->
{% block headpart %}

<!-- Dashboard CSS -->
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
<link rel="stylesheet" href="{% static 'css/headerr.css' %}" />
<link rel="stylesheet" href="{% static 'css/category.css' %}" />
<link rel="stylesheet" href="{% static 'css/art_details.css' %}" />

{% endblock headpart %}

<!-- Block Content -->
{% block content %}

<!-- section starts  -->
{% include "base_content/section1.html" %}

<!-- main content  -->
{% include "base_content/main-content.html" %}

<!-- End Block Content -->
{% endblock content %}
