{% extends "base_content/base.html" %} {% load static %}
<!-- Title -->
{% block titlepart %} Home {% endblock titlepart %}

<!-- === Head part===-->
{% block headpart %}
<link rel=" stylesheet" href="{% static 'css/slick.css' %}" />

<link rel="stylesheet" href="{% static 'style.css' %}" />

{% endblock headpart %}

<!-- Block Content -->
{% block content %}

<div class="container">
  <!-- section starts  -->
  {% include "base_content/section1.html" %}

  <!-- main content  -->
  {% include "base_content/main-content.html" %}
</div>
<!-- End Block Content -->
{% endblock content %}
